**/__pycache__/
.idea/
venv/
**.kdev4
**/*~
**.dot
**.pdf
**.gpl
**.dia
**.json
**.autosave
**#
**.kate-swp
evaluation/experiment/sweeps/
logs/
finished_reconfigurations/
cachedir/
plot_results*/
to_remove/
concerto/generated_transitions_time/
evaluation/experiment/generated_covering_taux/
evaluation/experiment/generated_transitions_time/
evaluation/experiment/results_experiment/